In [1]:
import pandas as pd

In [55]:
df = pd.read_csv(r"D:\Information Technology\H&M data analysis\transactions_train.csv")
df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

#### Here we can see the data in 'price' column like in very small amout, here it might be scalled like the range between '0 to 1' or maybe its the Prices in Thousands (K-Scaling), due to, no such clear information we have , so that i am not converting it here, but procceding with the analysis as it is data we have.

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [59]:
df.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id'], dtype='object')

In [60]:
df['t_dat'] = pd.to_datetime(df['t_dat'])

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             datetime64[ns]
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.2+ GB

In [66]:
# Check missing values
print(df.isnull().sum())

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

In [68]:
# Check duplicates
print(df.duplicated().sum()) # we can not drop the duplicate values here because one coustomer can buy one product multiple time so that being duplicate is normal

2974905

In [69]:
print(df['customer_id'].duplicated().sum())

30426043

In [71]:
print(df['price'].describe()) # analysing the outliers here in the 'price' column

count    3.178832e+07
mean     2.782927e-02
std      1.918113e-02
min      1.694915e-05
25%      1.581356e-02
50%      2.540678e-02
75%      3.388136e-02
max      5.915254e-01
Name: price, dtype: float64

In [74]:
print(df['sales_channel_id'].nunique()) # here we generaly see 1 = online, 2 = offline, we can map the data as well, like 1 converts to online and 2 converts to offline

2

In [90]:
print(df['sales_channel_id'].value_counts()) # here we can see specific order channel counts, hence, offline orders are more then online

sales_channel_id
2    22379862
1     9408462
Name: count, dtype: int64

In [92]:
df['Sales_channel'] = df['sales_channel_id'].map({1: 'online' , 2: 'offline'}) # mapping 1 as online and 2 as offline, as added a new column in a dataset

In [106]:
print(df['Sales_channel'].head(10))

0    offline
1    offline
2    offline
3    offline
4    offline
5    offline
6    offline
7     online
8     online
9    offline
Name: Sales_channel, dtype: object

In [104]:
df.columns # checking added new column in dataset

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'Sales_channel'],
      dtype='object')

In [108]:
print(df['article_id'].value_counts()) # checking uniqur article id and its total number of count

article_id
706016001    50287
706016002    35043
372860001    31718
610776002    30199
759871002    26329
             ...
520736002        1
619777003        1
586904003        1
512385003        1
533261032        1
Name: count, Length: 104547, dtype: int64